a {
	text-decoration: none;
}
input[type="submit"], input[type="button"] {
	border: none;
} 

.horizontal-centered {
	margin: 0 auto;
	width: 90%;
}
.horizontal-centered img{
	padding: 0 20px;
}

.float-right {
	float: right;
	padding: 0 200px 0 0;
}

.float-left {
	float: left;
	padding: 0 20px 20px 0;
}

.clear {
	clear: both;
}

ol.float-left {
	margin-left: 15px;
}

.container {
	position: relative;
	height: 300px;
}

.vertical-center {
	position: absolute;
	top: 25%;
	left: 0;
	height: 50%
}

ul.menu-horizontal {
	padding: 0;
}

ul.menu-horizontal li {
	text-decoration: none;
	display: inline-block;
	padding: 0;
	margin: 0;
}
ul.menu-horizontal-highlight li {
	text-decoration: none;
	display: inline-block;
	background-color: #E5777E;
	font-weight: bold;
	padding: 0 40px;
	height: 40px;
	line-height: 40px;
}

ul.menu-horizontal-highlight a:hover {
	/*background-color: red;*/
	color: blue;
}

ul.menu-horizontal-highlight :first-child {
	border-radius: 5px 0 0 5px;
}

ul.menu-horizontal-highlight :last-child {
	border-radius: 0 5px 5px 0;
}

.menu-horizontal-highlight a {
	text-decoration: none;
	color: #eee;
}

.button1 {
	display: inline-block;
	width: 200px;
	height: 70px;
	line-height: 70px;
	background-color: #E5777E;
	border-radius: 5px;
	text-align: center;
	font-size: 1.5em;
	color: #eee;
}

.button2 {
	display: inline-block;
	width: 150px;
	height: 35px;
	line-height: 35px;
	background-color: #E5777E;
	border-radius: 5px;
	text-align: center;
	font-size: 1em;
	color: #eee;
}

.button3 {
	display: inline-block;
	width: 35px;
	height: 25px;
	line-height: 25px;
	background-color: #E5777E;
	border-radius: 5px;
	text-align: center;
	font-size: .9em;
	color: #eee;
}

.pagination li {
	text-decoration: none;
	display: inline-block;
	border-bottom: 3px solid #E5777E;
	padding: 5px;
	margin: 0 5px;
	font-weight: bold;
}

.pagination a {
	text-decoration: none;
	color: #E5777E;
}

.pagination :first-child {
	border: none;
}

.pagination :last-child {
	border: none;
}

li.current { 
	color: #C5C5C5;
	border-bottom: 3px solid #C5C5C5;
}

.comment-second-level {
	margin-left: 100px;
}